* {
  padding: 0;
  margin: 0;
}
/* header */
.header {
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./resources/Banner\ Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  height: 600px;
  width: 95%;
  display: flex;
  margin: 60px auto;
  border-radius: 16px;
  background-position: center;
}
.banner-wish {
  color: #fff;
  margin-top: 177px;
  margin-bottom: 16px;
  margin-left: 530px;
  margin-right: 530px;
  text-align: center;
  font-size: 20px;
  font-weight: 259px;
  line-height: normal;
}
.celebration {
  color: #fff;
  width: 532px;
  margin-top: 0px;
  margin-bottom: 177px;
  margin-left: 344px;
  margin-right: 344px;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  line-height: 75px;
}
/* main body */
#offers {
  font-family: "Inter", sans-serif;
  text-align: center;
}
.off {
  color: red;
  margin-top: 120px;
  margin-left: 468px;
  margin-right: 468px;
  text-align: center;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.deals {
  color: rgb(201, 16, 16);
  margin-top: 48px;
  margin-left: 7px;
  margin-right: 7px;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.category {
  color: #070211;
  margin-top: 16px;
  text-align: center;
  font-size: 32px;
  font-weight: 650;
  line-height: normal;
}
#offers .discount img {
  margin-top: 48px;
  margin-left: 399px;
  margin-right: 399px;
  width: 450px;
  height: 250px;
  flex-shrink: 0;
}
#welcome {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./resources/Vectorrr.png);
  background-position: center;
  justify-content: space-around;
  margin-top: 110px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  background-repeat: no-repeat;
  width: 1300px;
  height: 600px;
  border-radius: 15px;
  align-items: normal;
}
.party {
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
}
#welcome .party h2 {
  width: 700px;
  margin-left: 110px;
  margin-top: 126px;
  /* margin-right: 552px; */
  margin-bottom: 0px;
  color: #fff;
  font-size: 45px;
  font-weight: 900;
  line-height: 66px;
  letter-spacing: 6px;
}
#welcome .party p {
  width: 697px;
  margin-top: 24px;
  margin-left: 110px;
  /* margin-right: 550px; */
  margin-bottom: 0px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  font-weight: 400;
  line-height: 30px;
}
.button {
  margin-top: 48px;
  margin-left: 158px;
  /* margin-right: 1059px; */
  margin-bottom: 142px;
  color: #fff;
  background-color: transparent;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: none;
}
#welcome img {
  position: relative;
  margin-top: 78px;
  margin-bottom: 68px;
  margin-right: 150px;
  display: flex;
  width: 300px;
  height: 450px;
  align-items: center;
}
/* optional */
#loc {
  background-color: rgba(255, 0, 0, 10);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  align-items: center;
  position: relative;
  width: 1300px;
  height: 500px;
  top: 120px;
  left: 25px;
  right: 25px;
  border-radius: 16px;
  display: flex;
}
.venue {
  text-align: center;
}
#loc .venue p {
  color: #070211;
  position: absolute;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
  top: 50px;
  left: 385px;
  right: 385px;
}
.random {
  color: #f00;
}
.button2 {
  color: white;
  background-color: #f00;
  position: relative;
  margin-left: 576px;
  margin-right: 576px;
  margin-top: 270px;
  margin-bottom: 250px;
  text-align: center;
  border-style: none;
  border-radius: 6px;
  border-width: 200px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* portfolio */
#portfolio{
background-color: #fff;
margin-left: 25px;
}
#portfolio .gift h5 {
    color: #f00;
    font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#portfolio .gift h1 {
    color: #070211;
    margin-top: 16px;
font-size: 48px;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
#portfolio .gift p {
    color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}